<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">ตำแหน่งที่ตั้งแผงร้านค้าในตลาด</h4>
                    <div class="market-map">
                        <div class="market-row">
                            <div class="market-label"></div>
                            <div class="market-label" *ngFor="let col of cols">{{col}}</div>
                        </div>
                        <div class="market-row" *ngFor="let row of rows">
                            <div class="market-label">{{row}}</div>
                            <div class="market-position" 
                                 *ngFor="let col of cols"
                                 [ngClass]="{'hilight-meat': shopsMap[col+row]!=null}">
                                 {{col+row}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>