.market-map{
    .market-row{
        display: flex
    }
    .market-label {
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .market-position{
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }
    .market-position:hover{
        background-color: gray;
    }
    .hilight-meat {
        background: red;
    }
}