<div class="card">
    <div class="card-header card-header-tabs" data-background-color="red">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Menu:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#shop-list" data-toggle="tab">
                            <i class="material-icons">list</i> รายการ
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="">
                        <a href="#shop-details" data-toggle="tab">
                            <i class="material-icons">store</i> รายละเอียดผู้เช่า
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="">
                        <a href="#payment" data-toggle="tab">
                            <i class="material-icons">attach_money</i> การชำระเงิน
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="tab-content">
            <div class="tab-pane active" id="shop-list">
                <app-shop-list></app-shop-list>
            </div>
            <div class="tab-pane" id="shop-details">
                
            </div>
            <div class="tab-pane" id="payment">
                
            </div>
        </div>
    </div>
</div>