/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.search-filter{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}